/*Defaults_________________________________________________________*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif, serif;
}

:root {
    --primary-color: rgb(128, 195, 240);
    --secondary-color: rgb(0, 224, 191);
    font-size: 17.5px;
}

header::after,
section::after,
footer::after {
    content: "";
    display: block;
    clear: both;
}

.logo:hover::after {
    content: " HTML CSS Project Logo";
    font-size: small;
    background-color: aliceblue;
    padding: 0.25rem;
}

.sectionTitle {
    background-color: rgba(128, 195, 240, 0.6);
    margin-block-end: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

summary+ul {
    list-style-type: decimal;
    columns: 3;
    padding: 1rem;
}

a {
    text-decoration: none;
    display: block;
}

a[href$=".pdf"]::after {
    content: "(pdf)";
    color: rgb(182, 141, 221);
    font-weight: 800;
}

.scrollToTop {
    display: block;
    padding: 1.2rem;
    border: 1px dashed blue;
    border-radius: 50%;
    position: fixed;
    inset-inline-end: 1rem;
    inset-block-end: 1rem;
    transition: ease-in 0.3s;
    background: white no-repeat center/contain url(../images/Arrow.png);
}

.scrollToTop:hover {
    border-radius: 10px;
    border-color: rgb(255, 158, 79);
}

h2,
h3,
p {
    line-height: 1.15rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--primary-color);
    padding: 5px;
    margin-block-end: 0.5rem;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: rgb(255, 255, 255);
}

.parallax {
    height: 18.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.grid-of2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    justify-content: space-between;
}

.grid-of3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
}

.showcase-text .btn {
    background: rgba(0, 0, 0, 0.2);
    margin-inline-start: 0;
}

.showcase-text h2 {
    margin-block-end: 0.25rem;
}

.showcase-text i {
    margin-inline-end: 0.35rem;
}

.form-showcase form {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0.35rem;
    border-radius: 10px;
}

.form-input>input {
    max-width: 100%;
    padding: 0.35rem;
    border: 0;
}

.form-input>input:focus {
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.form-showcase h2 {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    margin-block-end: 0.25rem;
    background-color: rgba(128, 195, 240, 0.6);
}

.form-showcase h2>i,
.form-showcase div label,
.form-showcase div input {
    padding-inline-end: 0.35rem;
}

.form-showcase div input {
    background-color: rgba(0, 0, 0, 0.028);
}

.form-input {
    margin: 0.2rem;
}

form {
    position: relative;
}

form .btn {
    margin-inline-start: 0.5rem;
}

form:focus-within {
    background-color: rgb(186, 255, 199);
}

form:focus-within::after {
    content: "Using 'form: focus-within' selector";
    position: absolute;
    background-color: white;
    inset-inline-end: 5%;
    inset-block-end: 50%;
    inline-size: 15ch;
    font-size: 0.8em;
}

.grid-of4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.card {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 1rem;
}

.underline {
    text-decoration: underline;
}

.pageHeader {
    padding: 5rem 3rem 5rem;
    position: relative;
    z-index: 99;
    height: auto;
    min-height: 30vh;
    max-height: 50vh;
    text-align: center;
    background: var(--primary-color);
}

.pageHeader h2 {
    margin-block-end: 0.25rem;
    text-align: center;
    font-weight: bolder;
}

.pageHeader h2 span {
    text-transform: capitalize;
    padding: 3rem;
    line-height: 1.7;
}

/*Header_________________________________________________________*/

header {
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 102;
    background-color: var(--primary-color);
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li div div {
    font-weight: lighter;
    text-transform: capitalize;
}

nav ul li a:hover,
nav ul li a:focus {
    color: rgb(255, 255, 255);
}

nav ul i {
    margin: 0.65rem 0.5rem 0.65rem;
}

nav h4 {
    display: inline-block;
    padding-inline-end: 0.8rem;
}

nav .btn {
    background: rgba(0, 0, 0, 0.07);
}

nav .btn:hover,
nav .btn:focus {
    background: rgba(0, 0, 0, 0.2);
}

.headeritems,
.footeritems {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headeritems {
    width: 100%;
    z-index: 100;
    padding: 10px 10px;
}

.section1 h2 {
    color: rgb(255, 255, 255);
}

.section1 h2 span {
    color: rgb(0, 0, 0);
}

.section1 h2 span {
    display: block;
    font-weight: lighter;
    padding: 0.25rem;
    font-size: 1.3rem;
}

.section1 .btn {
    margin: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
}

.section1 .btn:hover,
.section1 .btn:focus {
    transition: 120ms ease-in;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.2);
}

/*Footer_________________________________________________________*/
.footeritems {
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    margin-block-start: 0.8rem;
    padding: 3rem 1rem;
    padding: 35px 15px;
}

.footeritem1 {
    max-width: 50%;
    text-align: inline-start;
    padding-inline-start: 1rem;
}

.footeritem1 h2 {
    padding-block-end: 5px;
}

.footeritem2,
.footeritem3,
.footeritem4 {
    display: flex;
    flex-direction: column;
    margin-inline-end: 15px;
    line-height: 1.5;
}

.footeritem2 li,
.footeritem3 li {
    padding-block-end: 0.3rem;
}

.footeritem4 {
    display: flex;
    flex-direction: row;
}

.footeritem4 a {
    padding: 0.25rem;
    margin-inline-end: 0.8rem;
}

.footeritem4 a:hover i {
    transform: scale(1.2);
    transition: ease-in 400ms;
}

.footeritem4 a[title="Facebook"]:hover i {
    color: rgb(35, 0, 190);
}

.footeritem4 a[title="Twitter"]:hover i {
    color: rgb(34, 255, 233);
}

.footeritem4 a[title="Instagram"]:hover i {
    color: rgb(221, 98, 98);
}

.footeritem4 a[title="Youtube"]:hover i {
    color: rgb(185, 0, 0);
}

.footeritems li a:hover,
.footeritems ul li a:focus {
    border-block-end: 1px black solid;
}

#home,
#about,
#contact {
    padding: 2rem 0;
}

/*Home_________________________________________________________*/
.section2 {
    padding: 8rem 5rem 5rem;
    background-color: var(--color-3);
    outline: 1px dashed black;
    outline-offset: -2.8rem;
    position: relative;
    margin: 0.8rem auto auto;
    max-width: 86.5%;
}

.p-1 {
    padding: 0 1rem;
}

.section2 h2 {
    position: absolute;
    color: var(--primary-color);
    background: white;
    font-weight: bolder;
    margin-block-start: -5.9rem;
    text-align: center;
    max-width: 50%;
}

.section2-paragraphs {
    display: flex;
    flex-wrap: wrap;
}

.section2-paragraphs>* {
    flex: 1 1 30ch;
    background-color: var(--color-3);
    margin: 0 1rem 1rem 0;
}

.section2-paragraphs:nth-last-child(1) span {
    user-select: none;
}

br span {
    display: inline-flex;
    max-width: 20%;
}

.progress {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1rem;
    width: 80%;
    border-radius: 10px;

}

.progress small {
    background-color: rgb(40, 132, 79);
    width: 85%;
    text-align: inline-end;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: smaller;
}

cite {
    color: rgb(6, 84, 6);
    background-color: rgba(0, 0, 0, 0.04);
}

code {
    background-color: rgba(0, 0, 0, 0.2);
    user-select: all;
}

.section3 {
    max-width: 80%;
    margin: auto;
}

.section3>p {
    display: block;
    width: auto;
    background-color: var(--primary-color);
    text-align: center;
    margin: auto;
    align-content: center;
    align-items: center;
    padding: 0.8rem;
    margin: 0.8rem 0;
}

.grid-ish {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.grid-ish>* {
    flex: 1 1 20rem;
    background-color: rgb(240, 248, 255);
}

.grid-item {
    height: 18.5rem;
    width: auto;
    background-size: cover;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.bg-1 {
    background-image: url(https://source.unsplash.com/1600x900/?moon);
}

.bg-2 {
    background-image: url(https://source.unsplash.com/1600x900/?birds);
}

.bg-3 {
    background-image: url(https://source.unsplash.com/1600x900/?earth);
}

.bg-4 {
    background-image: url(https://source.unsplash.com/1600x900/?sea);
}

.bg-5 {
    background-image: url(https://source.unsplash.com/1600x900/?city);
}

.btn-2 {
    background-color: rgba(56, 56, 56, 0.5);
    color: rgb(255, 255, 255);
}

.btn-2:hover {
    color: rgb(255, 158, 79);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.item-desc {
    position: absolute;
    inset-block-end: 3rem;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
}

.item-desc h4 {
    color: rgb(255, 255, 255);
}

/*about_________________________________________________________*/

.container {
    margin: 0 auto 50px;
    max-width: 86.5%;
}

.container>* {
    margin: 2rem;
}

#about {
    background-color: rgba(0, 0, 0, 0.05);
}

.container>h2 {
    text-align: center;
    font-weight: bolder;
}

.about-col {
    padding: 0.8rem;
}

.about-col h3 i {
    padding: 0 0.4rem 0.4rem 0;
}

.about-col2 details {
    user-select: all;
}

.about-col1 {
    background-color: rgba(255, 206, 198, 0.3);
    border-inline-start: 6px solid rgb(249, 71, 71);
}

.about-col2 {
    background-color: rgba(194, 255, 191, 0.2);
    border-inline-start: 6px solid rgb(39, 155, 23);
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.flexWrap>* {
    flex: 1 1 30ch;
}

.about-col3 {
    background-color: rgba(207, 191, 255, 0.3);
    border-inline-start: 6px solid rgb(87, 89, 245);
}

.about-col1 .btn,
.about-col2 .btn,
.about-col3 .btn {
    width: fit-content;
    background-color: rgba(128, 195, 240, 0.9);
    color: var(--primary-color);
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.about-col1 .btn:hover,
.about-col2 .btn:hover,
.about-col3 .btn:hover {
    transform: scale(1.1);
}

.container i {
    padding: 0 0.5rem;
}

.our-collaborations {
    margin-block-start: 3rem;
}

.our-collaborations h2 {
    text-align: center;
}

.our-collaborations i {
    margin: auto;
    padding-inline-end: 0;
}

.grid-of2by3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    gap: 0.5rem;
    text-align: center;
}

.grid-of2by3>*:first-child {
    grid-row: 1/span 1;
    grid-column: 1/span 2;
}

.grid-of2by3 i {
    padding: 0.25rem;
}

/*Contact_________________________________________________________*/

.grid-of4 i {
    margin: 0.3rem;
}

.grid-of4 h3 {
    margin-block-end: 0.5rem;
}

.icon-cards {
    margin-block-start: 2rem;
}

.icon-cards h3 {
    font-weight: 400;
}

address {
    user-select: all;
}


/*Media Queries_________________________________________________________*/
@media(max-width:500px) {

    h2 {
        margin-block-end: 0.25rem;
    }

    ul {
        padding-inline-end: 0;
    }

    nav ul {
        display: flex;
        text-align: center;
    }

    nav h4 {
        display: none;
    }

    nav i {
        display: inline-block;
    }

    .pageHeader {
        min-height: 40vh;
        padding-block-end: 11rem;
    }

    .container {
        margin-block-start: 1rem;
    }

    .form-showcase {
        align-items: center;
        justify-content: center;
    }

    .btn {
        margin: 0.2rem;
    }

    .section1 {
        position: relative;
        min-height: 30vh;
        height: auto;
    }

    .headeritems,
    .footeritems {
        flex-direction: column;
    }

    .headeritems,
    .section1 {
        align-items: center;
    }

    .section2 {
        padding: 8rem 5rem 4rem;
        background-color: var(--color-3);
        outline: 1px solid black;
        outline-offset: -3rem;
        position: relative;
        margin: 0.8rem auto auto;
    }

    .grid-of3,
    .grid-of2by3,
    .grid-of4 {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .form-showcase {
        justify-self: center;
    }
}

@media(max-width:765px) {

    summary+ul {
        columns: 2;
    }

    .grid-of2 {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .grid-of3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .grid-of3>*:nth-last-child(1) {
        grid-column: 1/span 2;
        align-self: center;
    }

    .form-showcase div input {
        width: 100%;
    }

    .form-showcase div input[type="radio"] {
        width: auto;
    }

    .footeritems {
        display: flex;
        flex-wrap: wrap;
    }

    .footeritem1 {
        max-width: 100%;
        text-align: inline-start;
        padding-inline-start: 1rem;
    }

    .footeritem1,
    .footeritem2,
    .footeritem3,
    .footeritem4 {
        padding-block-end: 1rem;
    }

    .footeritem2,
    .footeritem3,
    .footeritem4 {
        padding: 1rem 0 0 1rem;
    }

    .footeritem2 ul,
    .footeritem3 ul {
        margin: 1rem auto;
    }

}